{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls, deprecated_function_calls]}.
{eunit_opts, [verbose]}.
{deps_dir, ["lib"]}.
{deps, [
  {erlzk, ".*", {git, "git://github.com/huaban/erlzk.git",{branch, "master"}}},
  {esockd, ".*", {git, "git://github.com/emqtt/esockd",{branch, "master"}}},
  {balance, ".*", {git, "git://github.com/mdaguete/tcpbalance",{branch, "master"}}},
  {barrel, ".*", {git, "git://github.com/benoitc/barrel",{branch, "master"}}},
  {sieve, ".*", {git, "git://github.com/benoitc/sieve",{branch, "master"}}},
  {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}}
]}.